<div class="verse-container">
    <h2>Copyrights</h2>

    <h3 style="margin-bottom: 20px;"><a href="https://netbible.com/copyright/">NET Bible Copyright</a></h3>


    <h3><a href="http://esv.org">English Standard Version (ESV Bible)</a></h3>

    <div class='verses'>
        <p>
            Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), © 2001 by
            Crossway, a
            publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not
            be quoted
            in any publication made available to the public by a Creative Commons license. The ESV may not be translated
            into
            any other language.
        </p>
        <p>
            Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of
            the ESV
            Bible.
        </p>
        <p>
            Scripture quotations marked “ESV” are from the ESV® Bible (The Holy Bible, English Standard Version®), ©
            2001 by
            Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV
            text may
            not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not
            be
            translated into any other language.
        </p>
        <p>Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of the
            ESV
            Bible.
        </p>
        <p>
            Unless otherwise indicated, all Scripture quotations are from the ESV® Bible (The Holy Bible, English
            Standard
            Version®), © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights
            reserved. The ESV text may not be quoted in any publication made available to the public by a Creative
            Commons
            license. The ESV may not be translated into any other language.
        </p>
        <p>
            Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of
            the ESV
            Bible.
        </p>
    </div>


</div>
